<main>
    <navbar></navbar>
    <div class="container employee-page">
        <div class="row page-content">
            <form name="form" class="form-signin">
                <hr />
                <br/>
                <br/>
                <h2 class="form-signin-heading">Please log-in</h2>
                <p>
                    Employee Portal
                </p>
                <input type="text" class="form-control" name="username" placeholder="User Name" required="" ng-model="newhire.nhname" />
                <small ng-show="form.$submitted || form.username.$touched">
                  <div ng-show="form.username.$error.required" class="form-text error">Please enter a username.</div>
                </small>
                <br/>
                <br/>
                <input type="password" class="form-control" name="password" placeholder="Password" required="" ng-model="newhire.nhpwd" />
                <br/>
                <br/>
                <small ng-show="form.$submitted || form.password.$touched">
                    <div ng-show="form.password.$error.required" class="form-text error">Please enter a password.</div>
                        </small>
                <button class="btn btn-lg btn-primary btn-block" type="submit" ng-click="submit();" ng-disabled="form.$invalid">Login</button>
                <br/>
                <br/>
                <hr />
            </form>
        </div>
        <div class="row page-content">
            <div class="col-md-8 offset-md-2">
                <img src="/static/assets/img/logo_100x100.jpg" width="100" height="auto">
            </div>
        </div>
    </div>
</main>
