<main class="careers-page">
    <top-button></top-button>
    <div class="container">
        <navbar data-show-application="showApplication"></navbar>
        <div class="row page-start">
            <div class="col-md-6 offset-md-3">
                <h1>Current job openings</h1>
            </div>
        </div>
        <div class="row page-content mobilefixbottom">
            <div class="col-md-4 career-btn" ng-click="showCareer('leadDeveloper');">
                <i class="fa fa-space-shuttle faa-vertical animated-hover careers-icon"></i>
                <h5>Lead developer</h5>
            </div>
            <div class="col-md-4 career-btn" ng-click="showCareer('frontendDeveloper');">
                <i class="fa fa-tasks faa-float animated-hover careers-icon"></i>
                <h5>Front-end developer</h5>
            </div>
            <div class="col-md-4 career-btn" ng-click="showCareer('uiuxDesigner');">
                <i class="fa fa-desktop faa-horizontal animated-hover careers-icon"></i>
                <h5>UI/UX Designer</h5>
            </div>
            <div class="col-md-4 career-btn" ng-click="showCareer('dataScientist');">
                <i class="fa fa-flask faa-shake animated-hover careers-icon"></i>
                <h5>Data Scientist</h5>
            </div>
            <div class="col-md-4 career-btn" ng-click="showCareer('databaseEngineer');">
                <i class="fa fa-database faa-pulse animated-hover careers-icon"></i>
                <h5>Database Engineer</h5>
            </div>
            <div class="col-md-4 career-btn" ng-click="showCareer('projectManager');">
                <i class="fa fa-cubes faa-tada animated-hover careers-icon"></i>
                <h5>Project Manager</h5>
            </div>
        </div>
        <div class="row page-content">
            <div class="col-md-6 offset-md-3">
                <hr id="jobDescriptionSection" />
            </div>
        </div>
        <div ng-hide="currentCareer !== ''">
            <div class="row page-content">
                <div class="col-md-6 offset-md-3">
                    <h5>Please select a career above for more details.</h5>
                </div>
            </div>
        </div>
        <div>
            <div id="dataScientist" ng-show="currentCareer === 'dataScientist'" ng-class="{'active': showApplication}">
                <div class="row page-content">
                    <div class="col-md-6 offset-md-3">
                        <h4>Data Scientist</h4>
                        <p>
                            opening
                        </p>
                    </div>
                </div>
                <div class="row page-content">
                    <div class="col-md-6 offset-md-3">
                        <hr />
                    </div>
                </div>
                <div class="row page-content">
                    <div class="col-md-6 offset-md-3">
                        <p>
                            Resilient Solutions 21 is seeking a Data Scientist to join our data analysis team. Our ideal candidate lives, breathes, and eats big data for breakfast. You’re energetic, creative and your large data set skills are on point. As an RS21 Data Scientist, your mission is uncovering data insights in a complex data environment. Given the work we do, this is a unique opportunity to collaborate with architects, urban planners, sustainability experts, civil engineers, and geospatial analysts to create real change.
                        </p>
                        <p>
                            In other words, you do really cool stuff and have fun doing it.
                        </p>
                    </div>
                </div>
                <br/>
                <div class="row">
                    <div class="col-md-6 offset-md-3">
                        <h5>Qualifications</h5>
                    </div>
                </div>
                <br/>
                <div class="row careers-content">
                    <div class="col-md-6 offset-md-3 qual-box">
                        <p>
                            <strong>01</strong> Proven ability in machine learning and data mining
                        </p>
                        <p>
                            <strong>02</strong> Live data experience and proficient in large database queries
                        </p>
                        <p>
                            <strong>03</strong> Experience conducting statistical analysis over big data and streaming data sources
                        </p>
                        <p>
                            <strong>04</strong> Proven ability to run effective algorithms over large data sets
                        </p>
                        <p>
                            <strong>05</strong> Demonstrated experience working with big data
                        </p>
                        <p class="sub-p">
                            <i class="fa fa-chevron-right"></i> R, Python
                            <br/>
                            <i class="fa fa-chevron-right"></i> Statistical analysis of data
                        </p>
                        <p>
                            <strong>06</strong> Understanding of agile development and source control
                        </p>
                        <p>
                            <strong>07</strong> Strong critical thinking skills
                        </p>
                        <p>
                            <strong>08</strong> Must be able to obtain a security clearance
                        </p>
                    </div>
                </div>
                <br/>
                <div class="row careers-content">
                    <div class="col-md-6 offset-md-3">
                        <h5>Skills</h5>
                        <br/>
                        <p>
                            We're always looking for the next trick up our sleeve. Any secret talents or additional skills?
                        </p>
                        <p class="qual-box sub-p">
                            <i class="fa fa-chevron-right"></i> Experience with geospatial data
                            <br/>
                            <i class="fa fa-chevron-right"></i> Experience with spatial econometrics
                        </p>
                        <p>
                            Pay commensurate with skill. Relocation is preferred.
                        </p>
                        <br />
                        <p>
                            To apply please fill out the application form and follow the instructions - <a href="/static/assets/forms/application/Employment application.docx">Download PDF</a>
                        </p>
                        <div class="row appbutton justify-content-center">
                            <button type="button" class="btn btn-secondary" ng-click="showApplication = true">Start Application</button>
                        </div>
                    </div>
                </div>
                <br/>
            </div>
            <div id="frontendDeveloper" ng-show="currentCareer === 'frontendDeveloper'" ng-class="{'active': showApplication}">
                <div class="row page-content">
                    <div class="col-md-6 offset-md-3">
                        <h4>Front-end developer</h4>
                        <p>
                            opening
                        </p>
                    </div>
                </div>
                <div class="row page-content">
                    <div class="col-md-6 offset-md-3">
                        <hr />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 offset-md-3">
                        <p>
                            Resilient Solutions 21 is looking for a front-end developer who writes clear and concise code like a champ to deliver novel experiences for high-profile clients. Our ideal candidate digs building intuitive and stunning web-based visualizations and shares our passion for functional design. At RS21, we work in a collaborative, agile environment across various disciplines from urban planning to sustainability, and every high-quality product we create typically involves groundbreaking techniques and innovative solutions to create real change.
                        </p>
                        <p>
                            In other words, you do really cool stuff and have fun doing it.
                        </p>
                    </div>
                </div>
                <br/>
                <div class="row">
                    <div class="col-md-6 offset-md-3">
                        <h5>Qualifications</h5>
                    </div>
                </div>
                <br/>
                <div class="row careers-content">
                    <div class="col-md-6 offset-md-3 qual-box">
                        <p>
                            <strong>01</strong> Front-end development and coding experience with a familiarity in data visualization and interactive design. You must have a strong foundation in the following languages/libraries (or be a fast learner):
                        </p>
                        <p class="sub-p">
                            <i class="fa fa-chevron-right"></i> Javascript, HTML5, CSS3
                            <br/>
                            <i class="fa fa-chevron-right"></i> D3.js
                            <br/>
                            <i class="fa fa-chevron-right"></i> UI Frameworks
                        </p>
                        <p>
                            <strong>02</strong> Experience in Scrum methodology
                        </p>
                        <p>
                            <strong>03</strong> Must be able to obtain a security clearance
                        </p>
                    </div>
                </div>
                <br/>
                <div class="row careers-content">
                    <div class="col-md-6 offset-md-3 careers-content">
                        <h5>Skills</h5>
                        <br/>
                        <p>
                            We're always looking for the next trick up our sleeve. Any secret talents or additional skills?
                        </p>
                        <p class="qual-box sub-p">
                            <i class="fa fa-chevron-right"></i> BS/B.Tech./M.Tech in Computer Science, Math or related field
                            <br/>
                            <i class="fa fa-chevron-right"></i> C++/App development experience
                            <br />
                            <i class="fa fa-chevron-right"></i> WebGL, Three.js, Leaflet.js, Mapbox, Turf.js
                        </p>
                        <p>
                            Put simply, you're a front-end artist and this is a unique opportunity to push the limits of your front-end creativity.
                        </p>
                        <p>
                            Pay commensurate with skill. Relocation is preferred.
                        </p>
                        <br />
                        <p>
                            To apply please fill out the application form and follow the instructions - <a href="/static/assets/forms/application/Employment application.docx">Download PDF</a>
                        </p>
                        <div class="row appbutton justify-content-center">
                            <button type="button" class="btn btn-secondary" ng-click="showApplication = true">Start Application</button>
                        </div>
                    </div>
                </div>
            </div>
            <div id="uiuxDesigner" ng-show="currentCareer === 'uiuxDesigner'" ng-class="{'active': showApplication}">
                <div class="row page-content">
                    <div class="col-md-6 offset-md-3">
                        <h4>UI/UX Designer</h4>
                        <p>
                            opening
                        </p>
                    </div>
                </div>
                <div class="row page-content">
                    <div class="col-md-6 offset-md-3">
                        <hr />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 offset-md-3">
                        <p>
                            At Resilient Solutions 21 our focus is designing resilience and building the unimagined for our clients. As our UI/UX/Information Designer, you have a razor sharp eye for design and user experience. Your type of squad consists of inventive developers and killer designers working in a collaborative, agile environment. While we don't expect you to code, if you have the skills to put together interactive prototypes, that would be rad. Our ideal candidate is committed to excellence, has an acute attention to detail, and strongly believes not all fonts are created equal.ing techniques and innovative solutions to create real change.
                        </p>
                        <p>
                            In other words, you do really cool stuff and have fun doing it.
                        </p>
                    </div>
                </div>
                <br/>
                <div class="row">
                    <div class="col-md-6 offset-md-3">
                        <h5>Qualifications</h5>
                    </div>
                </div>
                <br/>
                <div class="row careers-content">
                    <div class="col-md-6 offset-md-3 qual-box">
                        <p>
                            <strong>01</strong> You have a background in UI/UX design
                        </p>
                        <p>
                            <strong>02</strong> Adobe Creative Suite expertise - Photoshop, Illustrator, InDesign
                        </p>
                        <p>
                            <strong>03</strong> Experience in responsive design and understanding of adaptive breakpoints
                        </p>
                        <p>
                            <strong>04</strong> Solid understanding of visual flow, intuitive design and information architecture
                        </p>
                        <p>
                            <strong>05</strong> Solid understanding of typography and fundamental design principles
                        </p>
                        <p>
                            <strong>06</strong> Experience streamlining visual elements to influence user behavior and interactivity
                        </p>
                        <p>
                            <strong>07</strong> Passionate about executing innovative new technologies and strategies
                        </p>
                        <p>
                            <strong>08</strong> Work closely with the dev team to deliver on a sprint-by-sprint basis
                        </p>
                        <p>
                            <strong>09</strong> Must be able to obtain a security clearance
                        </p>
                    </div>
                </div>
                <br/>
                <div class="row careers-content">
                    <div class="col-md-6 offset-md-3 careers-content">
                        <h5>Skills</h5>
                        <br/>
                        <p>
                            We're always looking for the next trick up our sleeve. Any secret talents or additional skills?
                        </p>
                        <p class="qual-box sub-p">
                            <i class="fa fa-chevron-right"></i> BS/B.Tech./M.Tech in Computer Science, Fine Arts, Math or related field
                            <br/>
                            <i class="fa fa-chevron-right"></i> Information design experience / a hefty library of Tufte, Ware, or Few
                            <br />
                            <i class="fa fa-chevron-right"></i> Experience in Sketch or vector-based UI tools
                            <br/>
                            <i class="fa fa-chevron-right"></i> Understanding of Front-End Development languages (HTML/CSS/JS)
                            <br />
                            <i class="fa fa-chevron-right"></i> Experience in Interactive / Motion design.JS
                        </p>
                        <p>
                            Pay commensurate with skill. Relocation is preferred.
                        </p>
                        <br />
                        <p>
                            To apply please fill out the application form and follow the instructions - <a href="/static/assets/forms/application/Employment application.docx">Download PDF</a>
                        </p>
                        <div class="row appbutton justify-content-center">
                            <button type="button" class="btn btn-secondary" ng-click="showApplication = true">Start Application</button>
                        </div>
                    </div>
                </div>
            </div>
            <div id="leadDeveloper" ng-show="currentCareer === 'leadDeveloper'" ng-class="{'active': showApplication}">
                <div class="row page-content">
                    <div class="col-md-6 offset-md-3">
                        <h4>Lead Developer</h4>
                        <p>
                            opening
                        </p>
                    </div>
                </div>
                <div class="row page-content">
                    <div class="col-md-6 offset-md-3">
                        <hr />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 offset-md-3">
                        <p>
                            Resilient Solutions 21 is seeking a lead developer to join our Albuquerque-based web development and analysis team. Our ideal candidate is an innovative coding ninja with an upbeat personality who thrives in a dynamic environment and isn’t afraid of working in uncharted waters. As the RS21 Lead Developer, you will conduct design and code reviews, manage the delivery of high-impact data visualizations and interactive content, brainstorm the future of analytic communication, and lead development projects from start to finish. Given the work we do, this is a unique opportunity to collaborate with architects, urban planners, sustainability experts, civil engineers, and geospatial analysts to create real change.
                        </p>
                        <p>
                            In other words, you do really cool stuff and have fun doing it.
                        </p>
                    </div>
                </div>
                <br/>
                <div class="row">
                    <div class="col-md-6 offset-md-3">
                        <h5>Qualifications</h5>
                    </div>
                </div>
                <br/>
                <div class="row careers-content">
                    <div class="col-md-6 offset-md-3 qual-box">
                        <p>
                            <strong>01</strong> Full stack web development experience
                        </p>
                        <p>
                            <strong>02</strong> Familiarity in leading data driven projects from definition through interpretation and execution
                        </p>
                        <p>
                            <strong>03</strong> Full-Stack development skills with proven ability in data visualization and interactive design
                        </p>
                        <p class="qual-box sub-p">
                            <i class="fa fa-chevron-right"></i> Javascript, HTML5, CSS3
                            <br/>
                            <i class="fa fa-chevron-right"></i> Git
                            <br/>
                            <i class="fa fa-chevron-right"></i> MySQL
                            <br/>
                            <i class="fa fa-chevron-right"></i> AJAX/REST/JSON
                            <br/>
                            <i class="fa fa-chevron-right"></i> D3.js
                            <br/>
                            <i class="fa fa-chevron-right"></i> leaflet.js
                            <br/>
                            <i class="fa fa-chevron-right"></i> WebGL
                            <br/>
                            <i class="fa fa-chevron-right"></i> UI Frameworks
                        </p>
                    </div>
                </div>
                <br/>
                <div class="row careers-content">
                    <div class="col-md-6 offset-md-3">
                        <h5>Skills</h5>
                        <br/>
                        <p>
                            We're always looking for the next trick up our sleeve. Any secret talents or additional skills?
                        </p>
                        <p class="qual-box sub-p">
                            <i class="fa fa-chevron-right"></i> BS/B.Tech./M.Tech in Computer Science, Math or related field
                            <br/>
                            <i class="fa fa-chevron-right"></i> C++/App development experience
                            <br />
                            <i class="fa fa-chevron-right"></i> WebGL, Three.js
                            <i class="fa fa-chevron-right"></i> Leaflet.js, Mapbox, Turf.js
                        </p>
                        <p>
                            Put simply, we envision our lead developer as someone who enjoys solving technical challenges with creative, eye-catching code.
                        </p>
                        <p>
                            Pay commensurate with skill. Relocation is preferred.
                        </p>
                        <br />
                        <p>
                            To apply please fill out the application form and follow the instructions - <a href="/static/assets/forms/application/Employment application.docx">Download PDF</a>
                        </p>
                        <div class="row appbutton justify-content-center">
                            <button type="button" class="btn btn-secondary" ng-click="showApplication = true">Start Application</button>
                        </div>
                    </div>
                </div>
            </div>
            <div id="databaseEngineer" ng-show="currentCareer === 'databaseEngineer'" ng-class="{'active': showApplication}">
                <div class="row page-content">
                    <div class="col-md-6 offset-md-3">
                        <h4>Database Engineer</h4>
                        <p>
                            opening
                        </p>
                    </div>
                </div>
                <div class="row page-content">
                    <div class="col-md-6 offset-md-3">
                        <hr />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 offset-md-3">
                        <p>
                            Resilient Solutions 21 is looking for a Database Engineer to join our data analysis team. Our ideal candidate can develop and manage large-scale data integration and data processing, analyze organizational and collaborative database needs, develop and implement long-term data system strategy, and leap tall buildings in a single bound. At RS21, this is a unique opportunity to work in collaborative, agile environment with creative geniuses across various disciplines from urban planning to sustainability. Every high-quality product we create typically involves groundbreaking techniques and innovative solutions to create real change. solutions to create real change.
                        </p>
                        <p>
                            In other words, you do really cool stuff and have fun doing it.
                        </p>
                    </div>
                </div>
                <br/>
                <div class="row page-content">
                    <div class="col-md-6 offset-md-3">
                        <h5>Qualifications</h5>
                    </div>
                </div>
                <br/>
                <div class="row careers-content">
                    <div class="col-md-6 offset-md-3 qual-box">
                        <p>
                            <strong>01</strong> Experience integrating with and creating APIs
                        </p>
                        <p>
                            <strong>02</strong> Management of database updates and production using SQL scripts or other automation technology
                        </p>
                        <p>
                            <strong>03</strong> Experience designing for and working with scalable infrastructures
                        </p>
                        <p>
                            <strong>04</strong> Experience designing and implementing graph-based databases
                        </p>
                        <p>
                            <strong>05</strong> Expertise in database optimization to increase performance
                        </p>
                        <p>
                            <strong>06</strong> Proven capability to work on full-stack teams to elegantly integrate database structure.
                        </p>
                        <p>
                            <strong>07</strong> Knowledge in database security management
                        </p>
                        <p>
                            <strong>08</strong> Experience with UNIX/Linux or Windows scripting, file management, and server security
                        </p>
                        <p>
                            <strong>09</strong> Experience with the integration of BI, Reporting, and Analytic tools with DBMS platforms
                        </p>
                        <p>
                            <strong>10</strong> Experience with supporting large data warehouses, data transformation/integration, and "Big Data" concepts
                        </p>
                        <p>
                            <strong>11</strong> Experience with debugging and performance tuning SQL.
                        </p>
                        <p>
                            <strong>12</strong> Experience with or knowledge of other DBMS platforms (e.g., MySQL, MS SQL Server, MongoDB)
                        </p>
                        <p>
                            <strong>13</strong> Must be able to obtain a security clearance
                        </p>
                    </div>
                </div>
                <br/>
                <div class="row careers-content">
                    <div class="col-md-6 offset-md-3">
                        <h5>Skills</h5>
                        <br/>
                        <p>
                            We're always looking for the next trick up our sleeve. Any secret talents or additional skills?
                        </p>
                        <p class="qual-box sub-p">
                            <i class="fa fa-chevron-right"></i> BS/B.Tech./M.Tech in Computer Science, Math or related field
                            <br/>
                            <i class="fa fa-chevron-right"></i> Experience with raw geospatial data or tile servers
                        </p>
                        <p>
                            Pay commensurate with skill. Relocation is preferred.
                        </p>
                        <br />
                        <p>
                            To apply please fill out the application form and follow the instructions - <a href="/static/assets/forms/application/Employment application.docx">Download PDF</a>
                        </p>
                        <div class="row appbutton justify-content-center">
                            <button type="button" class="btn btn-secondary" ng-click="showApplication = true">Start Application</button>
                        </div>
                    </div>
                </div>
            </div>
            <div id="projectManager" ng-show="currentCareer === 'projectManager'" ng-class="{'active': showApplication}">
                <div class="row page-content">
                    <div class="col-md-6 offset-md-3">
                        <h4>Project Manager</h4>
                        <p>
                            opening
                        </p>
                    </div>
                </div>
                <div class="row page-content">
                    <div class="col-md-6 offset-md-3">
                        <hr />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 offset-md-3">
                        <p>
                            Resilient Solutions 21 is seeking a visionary Project Manager who is capable of leading teams and creating successful partnerships with RS21 clients. Our ideal candidate is experienced in providing timely and effective client services and excels in a collaborative, cutting-edge environment. You will work closely with the design and development teams to ensure projects are completed and within budget. The purpose of this role is to manage projects, lead highly effective teams and exceed the expectations of existing and prospective RS21 clients with game changing products and service.
                        </p>
                        <p>
                            In other words, you do really cool stuff and have fun doing it.
                        </p>
                    </div>
                </div>
                <br/>
                <div class="row page-content">
                    <div class="col-md-6 offset-md-3">
                        <h5>Qualifications</h5>
                    </div>
                </div>
                <br/>
                <div class="row careers-content">
                    <div class="col-md-6 offset-md-3 qual-box">
                        <p>
                            <strong>01</strong> Appreciation and desire to work in a creative work environment
                        </p>
                        <p>
                            <strong>02</strong> Adept at building new business opportunities and client base
                        </p>
                        <p>
                            <strong>03</strong> Experience in developing strong relationships with clients
                        </p>
                        <p>
                            <strong>04</strong> Excellent communication, interpersonal and writing skills
                        </p>
                        <p>
                            <strong>05</strong> Strong organization, project management and project financial skills, combined with startup hustle and the ability to lead multiple time-sensitive projects
                        </p>
                        <p>
                            <strong>06</strong> Comfortable with emerging technologies and working in a fast-paced and fast-changing environment
                        </p>
                        <p>
                            <strong>07</strong> BA/BS degree (at a minimum)
                        </p>
                        <p>
                            <strong>08</strong> Must be able to obtain a security clearance
                        </p>
                    </div>
                </div>
                <br/>
                <div class="row">
                    <div class="col-md-6 offset-md-3">
                        <h5>Skills</h5>
                        <br/>
                        <p>
                            We're always looking for the next trick up our sleeve. Any secret talents or additional skills?
                        </p>
                        <p class="qual-box sub-p">
                            <i class="fa fa-chevron-right"></i> MBA, MPP or MPA
                            <br/>
                            <i class="fa fa-chevron-right"></i> Resilience or risk management experience
                            <br/>
                            <i class="fa fa-chevron-right"></i> Comfortable writing proposals or grant applications
                            <br/>
                            <i class="fa fa-chevron-right"></i> Industry knowledge and relationships
                            <br/>
                            <i class="fa fa-chevron-right"></i> Business development
                            <br/>
                            <i class="fa fa-chevron-right"></i> Prior experience working for federal, state or local government
                        </p>
                        <p>
                            Pay commensurate with skill. Relocation is preferred.
                        </p>
                        <p>
                            To apply please fill out the application form and follow the instructions - <a href="/static/assets/forms/application/Employment application.docx">Download PDF</a>
                        </p>
                        <div class="row appbutton justify-content-center">
                            <button type="button" class="btn btn-secondary" ng-click="showApplication = true">Start Application</button>
                        </div>
                    </div>
                </div>
            </div>
            <application data-position="currentCareer" , data-show-application="showApplication" data-nav-height="navHeight"></application>
            <div id="applicationJobDescription" ng-class="{'show': showApplication}" ng-style="{'top': navHeight}"></div>
        </div>
    </div>
    <footer></footer>
</main>
