<div id="kontainer"></div>
<script src="/resilient21/rs21/static/assets/libs/three/three.min.js"></script>
<script src="/resilient21/rs21/static/assets/libs/three/Detector.js"></script>	
<!--<script src="http://localhost/RS21/website/static/assets/libs/three/three.min.js"></script>
<script src="http://localhost/RS21/website/static/assets/libs/three/Detector.js"></script>	-->
	
<main id="page-top">
	<!--<canvas id="rs21Vis"></canvas>-->
	<navbar data-is-home="true"></navbar>
	<header class="homePage slide" id="home-page">
		<div id="title1"></div>
		<div class="intro-body" id="slide-0">
			<div class="container" id="container">
				<div class="row">
					<div class="col-md-12 background-slide">
						<!--<h1 class="t1">there's a <span>smarter</span> way to create a brighter <span>FUTURE</span> for all</h1>-->
						<h1 class="t1">there's a <a data-letters="SMARTER">SMARTER</a> way to create a brighter <a data-letters="FUTURE">FUTURE</a> for all</h1>
					</div>
				</div>
				<div class="row">
					<div class="col-md-8 offset-md-2">
						<a id="scrollTo1" class="arrow-wrap scroll" href="#" scroll-to="slide-1" duration="800">
							<i class="fa fa-angle-down"></i>
						</a>
					</div>
				</div>
			</div>
		</div>
	</header>
	<section class="homePage slide" id="home-page-slide-1">
		<div class="intro-body" id="slide-1">
			<div class="container">
				<div class="row">
					<div class="col-md-12 background-slide">
						<!--<h1 class="t2">data reveals hidden <span>patterns</span> and the <span>ART</span> of the possible</h1>-->
						<h1 class="t2">data reveals hidden <a><span>P</span><span>A</span><span>T</span><span>T</span><span>E</span><span>R</span><span>N</span><span>S</span></a> and the <a><span>A</span><span>R</span><span>T</span></a> of the possible</h1>
					</div>
				</div>
				<div class="row">
					<div class="col-md-8 offset-md-2">
						<a id="scrollTo2" class="arrow-wrap scroll" href="#" scroll-to="slide-2" duration="800">
							<i class="fa fa-angle-down"></i>
						</a>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="homePage slide" id="home-page-slide-2">
		<div class="intro-body" id="slide-2">
			<div class="container">
				<div class="row" id="slide-2">
					<div class="col-md-12 background-slide">
						<!--<h1 class="t3">We amplify human intelligence with <span>DATA</span>, <span>ANALYSIS</span> and <span>VISUALIZATIONS</span></h1>-->
						<h1 class="t3">We amplify human intelligence with <a><span data-letters="DATA">DATA</span></a>, <a><span data-letters="ANALYSIS">ANALYSIS</span></a> and <a><span data-letters="VISUALIZATIONS">VISUALIZATIONS</span></a></h1>
					</div>
				</div>
				<div class="row">
					<div class="col-md-8 offset-md-2">
						<a id="scrollTo0" class="arrow-wrap scroll" href="#" scroll-to="slide-0" duration="800">
							<i class="fa fa-angle-up"></i>
						</a>
					</div>
				</div>
				<div class="row" id="call-to-action">
					<div class="col-md-3">
						<a href="#!/story/">
						<button type="button" class="btn btn-secondary">Our Story</button>
						</a>
					</div>
					<div class="col-md-3">
						<a href="#!/help/">
						<button type="button" class="btn btn-secondary">Who We Help</button>
						</a>
					</div>
					<div class="col-md-3">
						<a href="#!/careers/">
						<button type="button" class="btn btn-secondary">Careers</button>
						</a>
					</div>
					<div class="col-md-3">
						<a href="#!/contact/">
						<button type="button" class="btn btn-secondary">Contact Us</button>
						</a>
					</div>
				</div>
			</div>
		</div>
	</section>
	<footer></footer>
	<home-control></home-control>
	<!-- <script src="/static/assets/libs/vis/stage-1-vis.js"></script> -->
</main>


