<main id="page-top">
	<canvas id="rs21Vis"></canvas>
	<navbar data-is-home="true"></navbar>
	<header class="homePage slide" id="home-page">
		<div id="title1"></div>
		<div class="intro-body">
			<div class="container" id="container">
				<div class="row">
					<div class="col-md-12 background-slide">
						<h1 class="t1">there's a <span>smarter</span> way</h1>
					</div>
				</div>
				<div class="row">
					<div class="col-md-8 offset-md-2">
						<a class="arrow-wrap scroll" href="#" scroll-to="slide-1" duration="800">
							<i class="fa fa-angle-down"></i>
						</a>
					</div>
				</div>
			</div>
		</div>
	</header>
	<section class="homePage slide" id="home-page-slide-1">
		<div class="intro-body" id="slide-1">
			<div class="container">
				<div class="row">
					<div class="col-md-12 background-slide">
						<h1 class="t2">we <span>reveal</span> patterns in data that drive better decisions.</h1>
					</div>
				</div>
				<div class="row">
					<div class="col-md-8 offset-md-2">
						<a class="arrow-wrap scroll" href="#" scroll-to="slide-2" duration="800">
							<i class="fa fa-angle-down"></i>
						</a>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="homePage slide" id="home-page-slide-2">
		<div class="intro-body" id="slide-2">
			<div class="container">
				<div class="row" id="slide-2">
					<div class="col-md-12 background-slide">
						<h1 class="t3">human intelligence <span>amplified</span>
						through data, analysis,
						and visualizations.</h1>
					</div>
				</div>
				<div class="row" id="call-to-action">
					<div class="col-md-3">
						<a href="#!/story/">
						<button type="button" class="btn btn-secondary">Our Story</button>
						</a>
					</div>
					<div class="col-md-3">
						<a href="#!/help/">
						<button type="button" class="btn btn-secondary">Who We Help</button>
						</a>
					</div>
					<div class="col-md-3">
						<a href="#!/careers/">
						<button type="button" class="btn btn-secondary">Careers</button>
						</a>
					</div>
					<div class="col-md-3">
						<a href="#!/contact/">
						<button type="button" class="btn btn-secondary">Contact Us</button>
						</a>
					</div>
				</div>
			</div>
		</div>
	</section>
	<footer></footer>
	<home-control></home-control>
	<!-- <script src="/static/assets/libs/vis/stage-1-vis.js"></script> -->
</main>
