<main class="employee-portal-page">
    <div class="container">
        <navbar></navbar>
        <employee-control></employee-control>
        <div class="row page-content">
            <div class="col-md-8 offset-md-2">
                <h1>Employee Portal</h1>
            </div>
        </div>
        <div class="row page-start">
            <div class="col-md-6 offset-md-3 form-box">
                <h2>HR</h2>
                <hr />
                <li><a href="/static/assets/forms/application/Employment application.docx">Employee Application</a></li>
            </div>
        </div>
        <div class="row page-content">
            <div class="col-md-6 offset-md-3 form-box">
                <h2>MGMT</h2>
                <hr />
                <li><a href="/static/assets/forms/evaluation/RS21 90 Day Employee Manager Evaluation.docx">Manager Evaluation</a></li>
                <li><a href="/static/assets/forms/evaluation/RS21 90 Day Employee Self Evaluation.docx">Employee Evaluation</a></li>
            </div>
        </div>
        <div class="row page-content">
            <div class="col-md-6 offset-md-3 form-box">
                <h2>Hire</h2>
                <hr />
                <li><a href="/static/assets/forms/new-hire/Business Card Form.docx">Business Card Form</a></li>
                <li><a href="/static/assets/forms/new-hire/Employee and Emergency Contact Info Form.docx">Employee Emergency Contact</a></li>
                <li><a href="/static/assets/forms/new-hire/Employee Setup Form.pdf">Employee Setup Form</a></li>
                <li><a href="/static/assets/forms/new-hire/Form W-4 (2016).pdf">W-4 Form 2016</a></li>
                <li><a href="/static/assets/forms/new-hire/i-9 2016.pdf">I-9 2016</a></li>
                <li><a href="/static/assets/forms/new-hire/NMForm.pdf">NM Form</a></li>
                <li><a href="/static/assets/forms/new-hire/Payroll Deduction Form for Health Care.docx">Payroll Deduction Form for Healthcare</a></li>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <img src="/static/assets/img/logo_100x100.jpg" width="100" height="auto">
            </div>
        </div>
        <div class="row">
            <canvas></canvas>
        </div>
    </div>
</main>
