/* Author: Armstrong Chiu
   URL: http://thewebdesignerpro.com/    */

/*
@font-face {
    font-family:'font/futura_icg_lightregular';
    src: url('font/futura_icg_light-webfont.eot');
    src: url('font/futura_icg_light-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/futura_icg_light-webfont.woff2') format('woff2'),
         url('font/futura_icg_light-webfont.woff') format('woff'),
         url('font/futura_icg_light-webfont.ttf') format('truetype'),
         url('font/futura_icg_light-webfont.svg#futura_icg_lightregular') format('svg');
    font-weight:normal;
    font-style:normal;
}
*/

html {
	font-family: sans-serif;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust:     100%;
}
html, body, header, footer {
	box-sizing:border-box;
}
body {
	position:relative;
}
body, #container {
	margin:0; 
}
body, #container { 
	width:100%; 
	height:100%; 
	background:#000; 
	overflow:hidden;  
}

#container { 
	//cursor:-moz-grab; 
	//cursor:-webkit-grab; 
	//cursor:grab; 
}

canvas { 
	width:100%; 
	height:100% 
}

a, a:hover {
	-webkit-transition:all 0.4s ease-out; 
	transition:all 0.4s ease-out; 
	outline:0;
}

audio,
canvas,
progress,
video {
	display:inline-block;
	vertical-align:baseline;
}

a {
	background-color:transparent;
}

a:active,
a:hover {
	outline:0;
}

abbr[title] {
	border-bottom:1px dotted;
}

b, strong {
	font-weight:bold;
}

img {
	height:auto; 
	max-width:100%; 	
	border:0;	
}

code, pre {
	font-family:monospace, monospace;
	font-size:1em;
}

button, input, textarea {
	color:inherit;
	font:inherit;
	margin:0;
}

button {
	overflow:visible;
	text-transform:none;
}

button, html input[type="button"], input[type="reset"], input[type="submit"] {
	-webkit-appearance:button;
	cursor:pointer;
}

button[disabled], html input[disabled] {
	cursor:default;
}

button::-moz-focus-inner, input::-moz-focus-inner {
	border:0;
	padding:0;
}

h2, h3 {
	clear:both;
}

p {
	margin-bottom:1.3em;
}

i {
	font-style:italic;
}

*,
*:before,
*:after { 
	box-sizing:inherit;
}

hr {
	background-color:#ccc;
	border:0;
	height:1px;
	margin-bottom:1.5em;
	box-sizing:content-box;
}

.alignleft {
	display:inline;
	float:left;
	margin-right:1.5em;
}
.alignright {
	display:inline;
	float:right;
	margin-left:1.5em;
}
.aligncenter {
	clear:both;
	display:block;
	margin-left:auto;
	margin-right:auto;
}

.clear:before,
.clear:after {
	content:"";
	display:table;
}
.clear:after {
	clear:both;
}

/** Audio **/
audio {
	position:fixed;
	margin:auto;
	top:80%;
	left:0;
	right:0;
	bottom:12%;
	width:260px;
	opacity:0.5;
	z-index:10;
}
 
/** misc **/
#tempUI {
	display:none;
	position:absolute;
	top:1%;
	right:1%;
	line-height:2em;
	text-align:right;
}
#tempUI a {
	display:block;
	color:#dddddd;
}


