<main class="story-page">
	<div class="container">
		<top-button></top-button>
		<navbar></navbar>
		<div class="fadetowhite">
			<div class="row page-start">
				<div class="col-md-8 offset-md-2">
					<h1>Why we're here</h1>
				</div>
			</div>
			<div class="row">
				<div class="col-md-8 offset-md-2">
					<hr />
				</div>
			</div>
			<!-- 			<div class="row page-content parallax-md parallax-story-2">
				<div class="col-md-8 offset-md-2">
					<h4>Why we're here</h4>
				</div>
			</div> -->
			<div class="row">
				<div class="col-md-6 offset-md-3">
					<p class="text-content">
						<h5>We believe the power of data can unleash the human potential.</h5>
					</p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-8 offset-md-2">
					<hr />
				</div>
			</div>
			<div class="row">
				<div class="col-md-6 offset-md-3">
					<p>
						With better data and the right tools to understand it, we can discover new and creative solutions for the world’s most complex problems.
					</p>
					<p>
						Every day, we see people and organizations struggling with overly complicated and expensive software, low-quality data, and outdated methods of communication. We see people who have more information at their fingertips than ever before, but who are incapable of harnessing it to make better decisions. We see confusion and isolation.
					</p>
					<p>
						<h6 class="sub-text">
						It doesn't have to stay that way.
					</h6>
					</p>
					<p>
						We have a better way – a smarter way.
						<br/> We know that affordable technologies, open data platforms, and outside-of-the-box thinking can drive collaboration, create solutions, and reinvent the human experience.
					</p>
					<p>
						That's why we created RS21.
					</p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-8 offset-md-2">
					<hr />
				</div>
			</div>
			<div class="row page-content parallax-md parallax-story-3">
				<div class="col-md-6 offset-md-3">
					<h4>What We do</h4>
				</div>
			</div>
			<div class="row content-box">
				<div class="col-md-6 offset-md-3">
					<p class="text-content">
						<h5>
						We use data to reveal hidden patterns and guide decisions. We want to change the world by looking at it differently.
					</h5>
					</p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-8 offset-md-2">
					<hr />
				</div>
			</div>
			<div class="row">
				<div class="col-md-6 offset-md-3">
					<p>
						We help organizations identify and understand the data they need to develop effective solutions. We collaborate with clients to build interactive tools, integrating information and presenting insights to drive meaningful action. We create platforms that are intuitive, inspiring, and intellectually honest.
					</p>
					<p>
						We are committed to empowering organizations and communities. We believe better data is the great unifier; it does not replace human intelligence – it amplifies it. It leads to better questions and deeper insights. It transcends boundaries and creates a common purpose. It makes us safer, healthier, and happier.
					</p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-8 offset-md-2">
					<hr />
				</div>
			</div>
			<div class="row page-content parallax-md parallax-story-4">
				<div class="col-md-8 offset-md-2">
					<h4>Who we are</h4>
				</div>
			</div>
			<div class="row content-box">
				<div class="col-md-6 offset-md-3">
					<p class="text-content">
						<h5>
						We are dreamers. We are doers. We are problem solvers.
					</h5>
					</p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-8 offset-md-2">
					<hr />
				</div>
			</div>
			<div class="row">
				<div class="col-md-6 offset-md-3">
					<p>
						<h6 class="sub-text">
						We believe information is art and technology is our canvas.
					</h6>
					</p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6 offset-md-3">
					<p>
						We are data scientists, developers, engineers, urban planners, gamers and policy wonks. We use technology to bring together individuals from fields that may otherwise never communicate, resulting in new ways of thinking, creating, and acting. With the right people working together, there is truly no limit to what is possible.
					</p>
					<p>
						We are on the lookout for ways to challenge the status quo and help our clients find a better way – a smarter way. We believe passionately in the work we do – in telling the truth as we understand it and in doing it right. We think of ourselves as owners of the outcome, not just suppliers of the solution. When things get tough, we want to be there with you.
					</p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-8 offset-md-2">
					<hr />
				</div>
			</div>
			<div class="row page-content parallax-md parallax-story-5">
				<div class="col-md-8 offset-md-2">
					<h4>Where you'll find us</h4>
				</div>
			</div>
			<div class="row content-box">
				<div class="col-md-6 offset-md-3">
					<p class="text-content">
						<h5>
						We’re searching for the world’s biggest challenges, and organizations around the world are turning to RS21 for help.
					</h5>
					</p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-8 offset-md-2">
					<hr />
				</div>
			</div>
			<div class="row">
				<div class="col-md-6 offset-md-3">
					<p>
						We use data and technology to help solve the most complex problems we face. Our mission – our legacy – is to leave this planet better than we found it.
					</p>
					<p>
						We want to work with clients to create a better future – one with healthier communities, stronger societies, and more prosperous businesses. We believe there are no problems we can’t help you solve.
					</p>
				</div>
			</div>
			<div class="row page-content">
				<div class="col-md-6 offset-md-3">
					<h2 class="heading-team">Meet some of our Team</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-md-8 offset-md-2">
					<hr />
				</div>
			</div>
			<div id="portfolio">
				<div class="portfolio-thumbnail">
					<div class="row">
						<div class="col-md-3">
							<div class="item">
								<img class="img-fluid" src="/static/assets/img/team/charles_250.jpg" alt="">
								<div class="caption team-1">
									<h5 class="team-h5">Charles Rath</h5>
									<hr />
									<div class="team-sub-text">CEO</div>
									<p>
										Charles is the founder of RS21. He has a long history of successful engagements with governments, multinational corporations, and NGOs. He speaks globally on a number of issues related to systems thinking, resilience, and big data.
									</p>
								</div>
							</div>
						</div>
						<div class="col-md-3">
							<div class="item">
								<img class="img-fluid" src="/static/assets/img/team/kam_250.jpg" alt="">
								<div class="caption team-2">
									<h5 class="team-h5">Kameron Baumgardner</h5>
									<hr />
									<div class="team-sub-text">CTO</div>
									<p>
										Kameron is a trailblazer in the fields of big data and visualizations. His progressive experience using cutting edge web technologies is revolutionizing the way communities use information.
									</p>
								</div>
							</div>
						</div>
						<div class="col-md-3">
							<div class="item">
								<img class="img-fluid" src="/static/assets/img/team/missi_250.jpg" alt="">
								<div class="caption team-3">
									<h5 class="team-h5">Missi rodgers</h5>
									<hr/>
									<div class="team-sub-text">COO</div>
									<p>
										Missi is the executive lead for all business matters and internal controls. She ensures our customers receive quality, timely products that are under budget. She is also responsible for implementing RS21’s ethics program.
									</p>
								</div>
							</div>
						</div>
						<div class="col-md-3">
							<div class="item">
								<img class="img-fluid" src="/static/assets/img/team/brian_250.jpg" alt="">
								<div class="caption team-2">
									<h5 class="team-h5">Brian Barnes</h5>
									<hr/>
									<div class="team-sub-text">Project Manager</div>
									<p>
										Brian is a project manager at RS21 and is well known for creating data-driven narratives about human challenges at the Now Institute. He now leads many of RS21’s major initiatives and is an expert at collaborating with technical organizations.
									</p>
								</div>
							</div>
						</div>
					</div>
					<div class="row">				
						<div class="col-md-3">
							<div class="item">
								<img class="img-fluid" src="/static/assets/img/team/megan_250.jpg" alt="">
								<div class="caption team-3">
									<h5 class="team-h5">Megan Cronin</h5>
									<hr/>
									<div class="team-sub-text">Creative Designer</div>
									<p>
										Megan is a creative designer. She specializes in creating highly effective visuals that use spacing, color theory and typography to create maximum impact for RS21’s products and customers.
									</p>
								</div>
							</div>
						</div>

						<div class="col-md-3">
							<div class="item">
								<img class="img-fluid" src="/static/assets/img/team/rob_250.jpg" alt="">
								<div class="caption team-2">
									<h5 class="team-h5">Robert Dzur</h5>
									<hr/>
									<div class="team-sub-text">Geospatial Analyst</div>
									<p>
										Robert is a senior remote sensing and geospatial analyst with experience working on large-scale data gathering and synthesis projects. Specializing in photogrammetric and topographic modeling, Robert brings robust capabilities to many facets of RS21’s work.
									</p>
								</div>
							</div>
						</div>	
						<div class="col-md-3">
							<div class="item">
								<img class="img-fluid" src="/static/assets/img/team/skyler_250.jpg" alt="">
								<div class="caption team-2">
									<h5 class="team-h5">Skyler Rexroad</h5>
									<hr/>
									<div class="team-sub-text">Creative Technologist</div>
									<p>
										Skyler is one of RS21’s most talented web developers and resident “wiz kid”, having previously worked as an instructor at the prestigious Deep Dive Code Academy. Skyler crafts websites and web-based tools that represent the pinnacle of immersive and intuitive user experiences.
									</p>
								</div>
							</div>
						</div>
						<div class="col-md-3">
							<div class="item">
								<img class="img-fluid" src="/static/assets/img/team/mimi_250.jpg" alt="">
								<div class="caption team-1">
									<h5 class="team-h5">Mimi Burns</h5>
									<hr/>
									<div class="team-sub-text">Urban Designer</div>
									<p>
										Mimi Burns is believes that with a strong connection with our environment and we can approach to problem of resilience in our communities. Driving forward human well-being and environmental health are inextricably linked.
									</p>
								</div>
							</div>
						</div>									
					</div>
					<div class="row">
						<div class="col-md-3">
							<div class="item">
								<img class="img-fluid" src="/static/assets/img/team/brandon_250.jpg" alt="">
								<div class="caption team-1">
									<h5 class="team-h5">Brandon Pachuca</h5>
									<hr/>
									<div class="team-sub-text">Creative Technologist</div>
									<p>
										Brandon is a creative technologist for RS21, functioning both as a front-end web developer, 3D modeling specialist, and geospatial data analyst. His background in architecture and Urban Planning brings a unique perspective to the applicability of urban resilience issues.
									</p>
								</div>
							</div>
						</div>
						<div class="col-md-3">
							<div class="item">
								<img class="img-fluid" src="/static/assets/img/team/matt_250.jpg" alt="">
								<div class="caption team-3">
									<h5 class="team-h5">Matt Dark</h5>
									<hr/>
									<div class="team-sub-text">Creative Technologist</div>
									<p>
										Matt combines a strong background in mathematics and statistics with expert web development capabilities. He works closely with our back-end developers to translate server-side calculations accurately into beautiful client-side visualizations.
									</p>
								</div>
							</div>
						</div>
						<div class="col-md-3">
							<div class="item">
								<img class="img-fluid" src="/static/assets/img/team/dale_250.jpg" alt="">
								<div class="caption team-1">
									<h5 class="team-h5">Dale Dekker</h5>
									<hr/>
									<div class="team-sub-text"></div>
									<p>
										Dale is a founding parter of RS21. Innovating and bringing new ranges of talent to the table to solve today's most challenging problems.
									</p>
								</div>
							</div>
						</div>	
						<div class="col-md-3">
							<div class="item">
								<img class="img-fluid" src="/static/assets/img/team/brian1_250.jpg" alt="">
								<div class="caption team-3">
									<h5 class="team-h5">Brian Burnett</h5>
									<hr/>
									<div class="team-sub-text"></div>
									<p>
										Founding partner Brian Burnett, has a career in management, corporate and civic leadership which allows hims to address critical issues of infrastructure, growth, and development.
									</p>
								</div>
							</div>
						</div>						
					</div>
				</div>
			</div>
		</div>
		<div class="row end-content"></div>
	</div>
	<footer></footer>
</main>
