// HEADER
$mid-grey: rgb(245,245,245);
$light-grey:rgb(241,241,241);

// ANIMATION
$dark-grey: rgb(98,98,98);

//FONTS 
// @font-face{
// 	font-family: "din-light";
// 	src:url("../fonts/din-light.eot"),
// 		url("../fonts/din-light.otf") format("opentype"),
// 		url("../fonts/din-light.woff") format("woff"),
// 		url("../fonts/din-light.ttf") format("truetype");
// 	font-weight: normal;
// 	font-style: normal;
// }
// @font-face{
// 	font-family: "din-medium";
// 	src:url("../fonts/din-medium.eot"),
// 		url("../fonts/din-medium.otf") format("opentype"),
// 		url("../fonts/din-medium.woff") format("woff"),
// 		url("../fonts/din-medium.ttf") format("truetype");
// 	font-weight: normal;
// 	font-style: normal;
// }
// @font-face{
// 	font-family: "din-bold";
// 	src:url("../fonts/din-bold.eot"),
// 		url("../fonts/din-bold.otf") format("opentype"),
// 		url("../fonts/din-bold.woff") format("woff"),
// 		url("../fonts/din-bold.ttf") format("truetype");
// 	font-weight: normal;
// 	font-style: normal;
// }
// @font-face{
// 	font-family: "din-regular";
// 	src:url("../fonts/din-regular.eot"),
// 		url("../fonts/din-regular.otf") format("opentype"),
// 		url("../fonts/din-regular.woff") format("woff"),
// 		url("../fonts/din-regular.ttf") format("truetype");
// 	font-weight: normal;
// 	font-style: normal;
// }
// @font-face{
// 	font-family: "din-black";
// 	src:url("../fonts/din-black.eot"),
// 		url("../fonts/din-black.otf") format("opentype"),
// 		url("../fonts/din-black.woff") format("woff"),
// 		url("../fonts/din-black.ttf") format("truetype");
// 	font-weight: normal;
// 	font-style: normal;
// }

// $light-font: "din-light";
// $medium-font: "din-medium";
// $bold-font: "din-bold";
// $regular-font: "din-regular";
// $black-font: "din-black";

$thin-font: 100;
$light-font: 300;
$bold-font: 700;
$regular-font: 400;
$black-font: 900;


// COLOR
$red: rgb(239,65,54);
$blue: rgb(27,117,188);	
$teal: rgb(0,167,157);
$orange: rgb(248,147,30);
$off-white: #888;
$off-black: #222222;
